@switch (level_3) { @case('1'){
<div class="promotion-tittle py-4 ps-4">Có thể bạn quan tâm</div>
<div class="row m-0 p-0">
  <div class="col-6">
    <div class="promotion-img">
      <img src="./imgs/VCB-FWD-CTKM-Hoantien14-T10_AVA_SQ.jpg" alt="" />
    </div>
    <div class="promotion-img-tittle">
      HOÀN TIỀN ĐẾN 14% GIÁ TRỊ HỢP ĐỒNG BẢO HIỂM FWD TẠI VIETCOMBANK
    </div>
  </div>
  <div class="col-6">
    <div class="promotion-img">
      <img src="./imgs/Ava_Urbox_DT.webp" alt="" />
    </div>
    <div class="promotion-img-tittle">
      Ưu đãi bất tận cho chủ thẻ Vietcombank Visa
    </div>
  </div>
</div>
} @case('2'){
<div class="promotion-tittle py-4 ps-4">Có thể bạn quan tâm</div>
<div class="row m-0 p-0">
  <div class="col-6">
    <div class="promotion-img">
      <img src="./imgs/Adapt_Tablet doc 1x1.webp" alt="" />
    </div>
    <div class="promotion-img-tittle">
      Tặng 5 mã giảm giá khi liên kết tài khoản Vietcombank với ứng dụng Be
    </div>
  </div>
  <div class="col-6">
    <div class="promotion-img">
      <img src="./imgs/KV-VCB-16x9-TA.webp" alt="" />
    </div>
    <div class="promotion-img-tittle">
      Cơ hội nhận tới 2,1 triệu đồng khi "Mở tài khoản Vietcombank trên Ví
      VNPAY"
    </div>
  </div>
</div>
} @case('3'){
<div class="promotion-tittle py-4 ps-4">Có thể bạn quan tâm</div>
<div class="row m-0 p-0">
  <div class="col-6">
    <div class="promotion-img">
      <img src="./imgs/1-1.webp" alt="" />
    </div>
    <div class="promotion-img-tittle">Đổi điểm VCB Rewards - 4X Ưu đãi</div>
  </div>
  <div class="col-6">
    <div class="promotion-img">
      <img src="./imgs/Adapt_Tablet doc 1x1.webp" alt="" />
    </div>
    <div class="promotion-img-tittle">
      Tặng 5 mã giảm giá khi liên kết tài khoản Vietcombank với ứng dụng Be
    </div>
  </div>
</div>
} @case('4'){
<div class="row m-0 p-0">
  <div class="col-6">
    <ul>
      <li class="level-3"><a href="">Thẻ thanh toán</a></li>
      <li class="level-3"><a href="">Thẻ tín dụng</a></li>
    </ul>
  </div>
  <div class="col-6">
    <div class="promotion-tittle py-4 ps-4">Có thể bạn quan tâm</div>
    <div class="promotion-img">
      <img src="./imgs/Adapt_Tablet doc 1x1.webp" alt="" />
    </div>
    <div class="promotion-img-tittle">
      Tặng 5 mã giảm giá khi liên kết tài khoản Vietcombank với ứng dụng Be
    </div>
  </div>
</div>
} @case('5'){
<div class="row m-0 p-0">
  <div class="col-6">
    <ul>
      <li class="level-3"><a href="">Vay tiêu dùng</a></li>
      <li class="level-3"><a href="">Vay mua ô tô</a></li>
      <li class="level-3"><a href="">Vay nhu cầu bất động sản</a></li>
      <li class="level-3"><a href="">Vay sản xuất kinh doanh</a></li>
    </ul>
  </div>
  <div class="col-6">
    <div class="promotion-tittle py-4 ps-4">Có thể bạn quan tâm</div>
    <div class="promotion-img">
      <img src="./imgs/Adapt_Tablet doc 1x1.webp" alt="" />
    </div>
    <div class="promotion-img-tittle">
      Tặng 5 mã giảm giá khi liên kết tài khoản Vietcombank với ứng dụng Be
    </div>
  </div>
</div>
} @case('6'){
<div class="row m-0 p-0">
  <div class="col-6">
    <ul>
      <li class="level-3"><a href="">Bảo hiểm bảo vệ</a></li>
      <li class="level-3"><a href="">Bảo hiểm đầu tư</a></li>
      <li class="level-3"><a href="">Bảo hiểm tiết kiệm</a></li>
    </ul>
  </div>
  <div class="col-6">
    <div class="promotion-tittle py-4 ps-4">Có thể bạn quan tâm</div>
    <div class="promotion-img">
      <img src="./imgs/Adapt_Tablet doc 1x1.webp" alt="" />
    </div>
    <div class="promotion-img-tittle">
      Tặng 5 mã giảm giá khi liên kết tài khoản Vietcombank với ứng dụng Be
    </div>
  </div>
</div>
} }
