<div class="main-section row">
  <div class="main-container col-xxl-8 col-xl-12 mx-auto">
    <div class="row">
      <div class="col-4">
        <div class="row">
          <div class="greeting col-12 p-0 m-0 d-flex">
            <img src="imgs/im_80_afternoon.svg" alt="" />
            <div class="greeting-content text-white">
              <h1>Chào Buổi chiều</h1>
              <p>Quý khách đang tìm kiếm gì hôm nay?</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="search col-12 p-0 m-0 d-flex">
            <p class=" search-icon m-0 p-0"><i class="bi bi-search"></i></p>
            <input type="email" readonly="true" class="form-control" id="home-search" placeholder="Thẻ tín dụng, vay tiêu dùng,...">
          </div>
        </div>
      </div>
    </div>

    <div class="suggestion-container row p-0 m-0">
      <div class="col-12 d-flex p-0">
        <table class="w-100">
          <tr>
            <td class="suggestion-item border-end border-secondary">
              <div class="suggestion-icon text-center py-2"><img src="imgs/Goiysanpham.svg" alt=""></div>
              <div class="suggesttion-tittle text-center pb-2">Gợi ý sản phẩm</div>
            </td>
            <td class="suggestion-item border-end border-secondary">
              <div class="suggestion-icon text-center py-2"><img src="imgs/Tinnoibat.svg" alt=""></div>
              <div class="suggesttion-tittle text-center pb-2">Tin nổi bật</div>
            </td>
            <td class="suggestion-item border-end border-secondary">
              <div class="suggestion-icon text-center py-2"><img src="imgs/Datlichhen.svg" alt=""></div>
              <div class="suggesttion-tittle text-center pb-2">Đặt lịch hẹn</div>
            </td>
            <td class="suggestion-item border-end border-secondary">
              <div class="suggestion-icon text-center py-2"><img src="imgs/Dangkytructuyen.svg" alt=""></div>
              <div class="suggesttion-tittle text-center pb-2">Đăng ký trực tuyến</div>
            </td>
            <td class="suggestion-item">
              <div class="suggestion-icon text-center py-2"><img src="imgs/Uudai.svg" alt=""></div>
              <div class="suggesttion-tittle text-center pb-2">Ưu đãi</div>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
