<div class="navbar-section row">
  <div
    class="navbar-container col-xxl-8 col-xl-12 mx-auto px-5 px-xxl-0"
  >
    <div class="top-secondary row d-xl-block d-none">
      <nav class="navbar navbar-expand-md bg-none py-1">
        <div class="container-fluid px-lg-0">
          <div class="navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-links active" aria-current="page" href="#"
                  >Cá nhân</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-links" href="#">Tổ chức</a>
              </li>
              <li class="nav-item">
                <a class="nav-links" href="#">Khách hàng ưu tiên</a>
              </li>
            </ul>
            <ul class="navbar-nav mb-2 mb-lg-0 nav-right">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="#">
                  Về Vietcombank
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Tin tức</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Nhà đầu tư</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Mạng lưới</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Tuyển dụng</a>
              </li>
              <li class="nav-item ms-4 me-3">
                <a class="nav-link phone-btn" href="#"
                  ><i class="bi bi-telephone-fill me-2"></i> 1900 545413</a
                >
              </li>
              <li class="nav-item">
                <button class="language p-0">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="36"
                    height="24"
                    viewBox="0 0 36 24"
                    fill="none"
                    class="mdl-js"
                  >
                    <g clip-path="url(#clip0_49199_1576)">
                      <g clip-path="url(#clip1_49199_1576)">
                        <path
                          d="M11.5219 0H0V19.9996H30V0H11.5219Z"
                          fill="#D80027"
                        />
                        <path
                          d="M15 4.21582L16.3279 8.30256H20.625L17.1485 10.8283L18.4765 14.9152L15 12.3894L11.5235 14.9152L12.8515 10.8283L9.375 8.30256H13.6721L15 4.21582Z"
                          fill="#FFDA44"
                        />
                      </g>
                    </g>
                    <defs>
                      <clipPath id="clip0_49199_1576">
                        <rect width="36" height="24" rx="2" fill="white" />
                      </clipPath>
                      <clipPath id="clip1_49199_1576">
                        <rect width="36" height="24" fill="white" />
                      </clipPath>
                    </defs>
                  </svg>
                </button>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>

    <div class="top-primary row">
      <nav class="navbar navbar-expand-md bg-none">
        <div class="container-fluid px-lg-0">
          <a class="navbar-brand" href="#">
            <img
              src="./imgs/VCB Logo white.png"
              class="d-inline-block align-top"
              alt="Vietcombank"
            />
          </a>

          <div
            class="main-navigation d-xl-block d-none"
            id="navbarText"
          >
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="#"
                  >Sản phẩm & dịch vụ <i class="bi bi-chevron-down ms-2"></i
                ></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#"
                  >Công cụ & Tiện ích <i class="bi bi-chevron-down ms-2"></i
                ></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#"
                  >Liên hệ & Hỗ trợ <i class="bi bi-chevron-down ms-2"></i
                ></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Giao dịch an toàn</a>
              </li>
            </ul>
          </div>

          <div class="navbar-right-btn">
            <button class="btn nav-btn d-flex">
              <i class="bi bi-box-arrow-in-right me-xl-2"></i>
              <span class="nav-btn-text m-0 p-0 d-xl-block d-none">
                Đăng nhập
              </span>
            </button>
          </div>
          <button
            class="navbar-toggler d-xl-none d-block"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarText"
            aria-controls="navbarText"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
      </nav>
    </div>
  </div>
</div>

<app-ca-nhan></app-ca-nhan>


